<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>passwordchange</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
<h2>Change Your Password</h2>
<hr>
{%if user.is_authenticated%}

<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>

</form>
{%else%}
!!Please try to login with New password!!
<a href="{%url 'login'%}">Login</a>
{%endif%}
<hr>
<a href="{%url 'home'%}">back to Home</a>
</body>
</html>